html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* optional: hide horizontal scroll */
}

body {
  background: #202020;
  color: white;
}

nav {
  box-sizing: border-box;
  margin: 10px;
  border: solid 3px gray;
  height: 50px;
  display: flex;
  align-items: center;
}

nav a {
  margin: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: rgb(110, 108, 108);
}

.title {
  text-align: center;
}

.about {
  text-align: center;
}

.activePage {
  color: blue;
}

.homeMessage {
  box-sizing: border-box;
  width: 100%;
  font-size: 25px;
  margin: 15px;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

h2 {
  display: block;
  font-size: 40px !important;
  margin-top: 18px;
}

button {
  background-color: grey;
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(100, 99, 99);
}

.homeMessage ol {
  margin-top: 10px;
  position: fixed;
  left: 50%;
  text-align: left;
  transform: translate(-50%);
}

.createTask {
  font-size: 20px;
  box-sizing: border-box;
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
  width: 30%;
  height: 60vh;
}

.currentTasks {
  box-sizing: border-box;
  border: solid 2px gray;
  height: 60vh;
  width: 40%;
  padding: 15px;
  margin: 15px;
  overflow-y: scroll;
}

.createTask input {
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
  padding: 5px;
}

.delete {
  color: rgb(124, 48, 48);
  height: 20px;
  width: 50px;
  border-radius: 15px;
  margin-left: 15px;
}

.taskLayout {
  display: flex;
  justify-content: space-around;
}

.currentTasks h3 {
  text-align: center;
  margin-top: 5px;
}

.taskList li {
  font-size: 20px;
  margin: 5px;
  margin-left: 10px;
}

/* Number Drag */

.numberBox {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: solid 3px blueviolet;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.boxes {
  display: flex;
  justify-content: space-around !important;
}

.boxLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

.instructions {
  text-align: center;
  font-size: 25px;
}

.hoverOval {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oval {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.ovalContainers h3 {
  color: white;
  height: 20px;
  text-align: center;
}

.ovalContainers {
  display: flex;
  justify-content: space-around;
  color: black;
}
